<ul class="list-group">
    <li class="list-group-item list-group-item">
        <div class="d-flex flex-row justify-content-between">
            <div><strong>Name</strong></div>
            <div><%= password.name %></div>
        </div>
    </li>
    <li class="list-group-item list-group-item">
        <div class="d-flex flex-row justify-content-between">
            <div><strong>URL</strong></div>
            <div><a href="<%= password.url %>"><%= password.url %></a></div>
        </div>
    </li>
    <li class="list-group-item list-group-item">
        <div class="d-flex flex-row justify-content-between">
            <div><strong>Username</strong></div>
            <div><%= password.username %></div>
        </div>
    </li>
    <li class="list-group-item list-group-item">
        <div class="d-flex flex-row justify-content-between">
            <div><strong>Password</strong></div>
            <div><%= password.password %></div>
        </div>
    </li>
    <li class="list-group-item list-group-item">
        <div class="d-flex flex-row justify-content-between">
            <div><strong>Description</strong></div>
            <div><%= password.description %></div>
        </div>
    </li>
    <li class="list-group-item list-group-item">
        <div class="d-flex flex-row justify-content-between">
            <div><strong>Owner</strong></div>
            <div><a href="/profile/<%= passwordOwner.username %>"><%= passwordOwner.firstName %> <%= passwordOwner.lastName %></a></div>
        </div>
    </li>
</ul>

<a href="/password/<%= password._id %>/update" class="btn btn-primary btn-lg btn-block" role="button">Update</a>
<a href="/password/<%= password._id %>/delete" class="btn btn-danger btn-lg btn-block" role="button">Delete</a>
