<form method="post" action="/password/<%= password._id %>/update">
    <div class="form-group">
      <label for="name">Name</label>
      <input value="<%= password.name %>" type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" placeholder="e.g. Ebay">
      <small id="nameHelp" class="form-text text-muted">The name of the service.</small>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input value="<%= password.username %>" type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" placeholder="e.g. lukeskywalker">
      <small id="usernameHelp" class="form-text text-muted">The username you used to register to the service.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input value="<%= password.password %>" type="password" class="form-control" name="password" id="password" aria-describedby="passwordHelp" placeholder="Demo - do not enter a real password">
      <small id="passwordHelp" class="form-text text-muted">The password you used to register to the service.</small>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" rows="3" name="description" id="description" placeholder="Credentials for Ebay"><%= password.description %></textarea>
    </div>
    <div class="form-group">
      <label for="url">URL</label>
      <input value="<%= password.url %>" type="url" class="form-control" name="url" id="url" aria-describedby="urlHelp" placeholder="https://ebay.com/">
      <small id="urlHelp" class="form-text text-muted">Link to the website.</small>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
